/* White page-like background to make text easier to read */
.whitePage {
  background-color: rgba(255,255,255,0.8);
  height: auto;
  color: black;
}
/*--------------------------------------------------------------------------------*/

/* General design and layout of page */
.top {
  padding-top: .01px;
}

.marginOnly {
  margin: 10px;
}

.centerContentFull {
  padding-top: 0.01px;
  position: absolute;
  width: inherit;
}
/*--------------------------------------------------------------------------------*/

/* Button properties to turn an element into a button */
.button {
  text-decoration: none;
  color: black;
  border: solid;
  padding: 12px 20px;
  border-radius: 5px;
  text-align: center;
  margin: 20px;
  display: inline-block;
  width: 20%;
}

.button:hover {
  background-color: grey;
}
/*--------------------------------------------------------------------------------*/

/* Image box properties */
.image {
  width: 250px;
  height: 250px;
}

.imageBox {
  padding: 20px;
  text-align: center;
}
/*--------------------------------------------------------------------------------*/

/* Basic text block class */
.textBlock {
  text-align: left;
  margin-left: 10px;
  margin-top: 5px;
}
/*--------------------------------------------------------------------------------*/

/* Class for span element to align the text to the right side */
.alignRight {
  text-align: right;
  float: right;
  margin-right: 10px;
}
/*--------------------------------------------------------------------------------*/
