/* Import Google Fonts, see bottom of this file for font property names/commands */
@import url('https://fonts.googleapis.com/css?family=Lato|Lora|Montserrat|Open+Sans|Oxygen|Quicksand|Raleway|Spectral+SC');
/*--------------------------------------------------------------------------------*/

/* General layout of page */
*, grid-25, tablet-grid-25, mobile-grid-100, .sideBar {
  margin: 0;
  padding: 0;
}

html, body, .fullPage, .sideBar, .mainContent {
  height: 100%;
}

body {
  font-size: 16px;
  background-color: rgb(80,80,80);
}

.sideBar {
  background-color: #383838;
}

.mainContent {
  padding: 0;
  background-color: lightblue;
  background: url("../images/background.jpg") no-repeat;
  background-size: cover;
}
/*--------------------------------------------------------------------------------*/

/* Navigation */
nav li {
  list-style-type: none;
  display: block;
  text-align: center;

}

nav a {
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-color: #D0CFCF;
  color: white;
  font-family: 'Oxygen', sans-serif;
}

.activeLink {
  background-color: #39A0ED;
}

.icons {
  bottom: 0;
  position: absolute;
  text-align: center;
  width: inherit;
}

.icon {
  width: 45px;
  height: 45px;
  text-decoration: none;
}

.socialLinksList {
  list-style-type: none;
  text-decoration: none;
  margin: 5px;
}

.socialLinksLi {
  display: inline;
  margin: 0 10px;
}
/*--------------------------------------------------------------------------------*/

/* Text properties */
h1 {
  font-size: 450%;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

h2, h3, a, p {
  font-family: 'Oxygen', sans-serif;
}

.colourWhite {
  color: white;
}

.noDecoration {
  text-decoration: none;
}
/*--------------------------------------------------------------------------------*/

/* Display/layout properties */
.flexContainer {
  display: flex;
}

.centerContentHalf, .centerContentFull {
  background-color: rgba(0,0,0,0.5);
  color: white;
  text-align: center;
}

.centerContentHalf {
  height: 50%;
}

.centerContentFull {
  height: 100%;
}

.titleBottom {
  margin: auto auto 0 auto;
}

.subtitle {
  margin: 0 auto auto auto;
  font-size: 250%;
}

.titleTop {
  width: 100%;
  height: 10%;
  display: block;
}
/*--------------------------------------------------------------------------------*/

/* Self portrait/sidebar picture*/
.selfImage {
  background-image: url("../images/self.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 35%;
}
/*--------------------------------------------------------------------------------*/

/* --FONTS--
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Spectral SC', serif;
font-family: 'Raleway', sans-serif;
font-family: 'Lora', serif;
font-family: 'Oxygen', sans-serif;
font-family: 'Quicksand', sans-serif;
*/
